* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: sans-serif;
}

/***********************************/
/*HEADER*/
/***********************************/

.header {
    display: flex;
    justify-content: space-around;
    text-align: center;
    background-color: orange;
    color: white;
    /* Because we want header to be sticky later */
    height: 9.6rem;
    padding: 4.8rem 9.6rem;
}

.logo {
    height: 5rem;
    margin-top: -2rem;
}

/***********************************/
/*NAVIGATION*/
/***********************************/

.main-nav-list {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3.2rem;
}

.main-nav-link:link,
.main-nav-link:visited {
    display: inline-block;
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 1.8rem;
    transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
    color: #cf711f;
}

.main-nav-icon {
    width: 2rem;
    color: white;
}

/*********************** banner **********************/

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
    width: 60%;
    margin: 0 auto;
    background-color: black;
    border-bottom: 2px solid blue;
    position: relative;
}

.carousel1 {
    position: absolute;
    top: 30%;
    left: 2%;
    width: 3rem;
    height: 3rem;
}

.carousel2 {
    position: absolute;
    top: 30%;
    right: 2%;
    width: 3rem;
    height: 3rem;
}

.container-img {
    width: 100%;
}

.container-box {
    padding: 5rem;
    background-color: rgb(233, 195, 126);
    font-size: 2rem;
}

.container-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-flex-img {
    width: 5rem;
}

.container-txt-box {
    padding: 4rem 0rem;
}

.container-flex-2 {
    display: flex;
    gap: 25rem;
}

.container-flex-img-second {
    width: 5rem;
}

/*********************** teasor **********************/

.teasor {
    background-color: rgb(233, 195, 126);
    height: 50rem;
    width: 60%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
    padding-top: 2rem;
}

.item1 {}

.item1-headline {
    background-color: cornsilk;
    padding: 1rem;
}

.item1-img {
    width: 100%;
    height: 70%;
}

.item1-txt {
    color: white;
    padding: 2rem;
}

.item1-btn {
    padding: 2rem;
    text-decoration: none;
}



/*********************** footer **********************/

.footer {
    width: 60%;
    background-color: orange;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 20rem;
    margin: 0 auto;
    color: white;
    padding: 5rem;
    list-style: none;
}

/*********************** Media Queries **********************/

@media (max-width:1350px) {
    html {
        font-size: 40%;
    }
}

@media (max-width:850px) {
    html {
        font-size: 25%;
    }
}

@media (max-width:550px) {
    html {
        font-size: 50%;
    }
}